html, body {
    background-color: #fff;
    color: #414141;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    line-break: unset;
}

.red-text {
    color: red;
}

.thread {
    padding-left: 100px;
    padding-right: 100px;
}

.multiline {
    white-space: pre-wrap;
    color: rgb(29, 29, 36);
  }

.full-height {
    height: 100vh;
}
  
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.content-thread {
    text-align: left;
    padding-left: 10px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.create-button {
    color: #00aaff;
    padding: 20px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer{
    background: #eee;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #4e4e4e;
}
